@media screen and (max-width: 360px) {



    .offcont {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-between;
        margin: 0 auto;
        max-height: 50vh;
        max-width: 600px; /* Adjust maximum width as needed */
     
       
    }
    
    
    
    .brgycard {
        position: relative;
        width: 100px; /* Set maximum width */
        height: 100px; /* Adjust height as needed */
        margin-bottom: 10%;
        background: lightblue;
        border-radius: 20px;
        box-shadow: 0 35px 80px rgba(0, 0, 0, 0.35);
        transition: 0.5s; 
            margin-left: 3%;
    }
    
    .brgycard:hover, .brgycard.clicked {
        height: 250px;
    }
    
    .cd {
        position: absolute;
        left: 50%;
        top: -30%;
        transform: translateX(-50%);
        width: 75px;
        height: 75px;
        background: white;
        border-radius: 20px;
        box-shadow: 0 35px 80px rgba(0, 0, 0, 0.35);
        overflow: hidden;
        transition: 0.5s;
    }
    
    .brgycard:hover .cd, .brgycard.clicked .cd {
        width: 100px;
        height: 100px;
    }
    
    .cd img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .brgycard .cnt {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-align: center; 
        overflow: hidden;
    }
    
    .brgycard .cnt .details {
        padding: 40px;
        text-align: center;
        width: 100%;
        transition: .5s;
        transform: translateY(220px);
    }
    
    .brgycard:hover .cnt .details, .brgycard.clicked .cnt .details {
        transform: translateY(70px);
    }
    
    .brgycard .cnt .details h2 {
        font-size: 1em;
        font-weight: 600;
        color: black;
        line-height: 1.2em;
    }
    
    .brgycard .cnt .details h2 span {
        font-size: 0.75em;
        font-weight: 500;
        opacity: 0.5;
    }
    
    .brgycard .cnt .details .datas {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }
    
    .brgycard .cnt .details .datas h3 {
        font-size: 1em;
        color: #555;
        line-height: 1.2em;
        font-weight: 300;
        opacity: 0.5;
        font-style: italic;
    }
    
    .brgycard .cnt .details .btn button {
      transform: translatey(-15px);
        padding: 10px 30px;
        border-radius: 5px;
        border: none;
        outline: none;
        font-size: 1em;
        font-weight: bold;
        color: white;
        background-color: #1877F2;
        font-family: sans-serif, Klavika ;
    }
    
    @media (max-width: 768px) {
        .brgycard {
            flex: 0 0 calc(50% - 20px);
            margin-bottom: 20%; /* Adjust width for smaller screens */
        }
    }
    
    @media (max-width: 480px) {
        .brgycard {
            flex: 0 0 calc(100% - 20px); 
            margin-bottom: 20%;/* Adjust width for even smaller screens */
        }
    }
    
    .connect{
    padding-top: 99999%;
    }
    
    .wrap{
        text-wrap:balance;
        font-family:  "Poppins", sans-serif;
        font-weight:bold;
        overflow-wrap: break-word; 
        word-wrap: break-word; 
        margin: 0 auto; 
        padding-bottom: 30%;
    }
    
    .wrap1{
        text-wrap:balance;
        font-family:  "Poppins", sans-serif;
        font-weight: bold;
        padding-top: 20%;
        overflow-wrap: break-word; 
        word-wrap: break-word; 
        width: 100%;
        margin: 0 auto; 
        padding-bottom: 30%;
       
    }
    
    .brgycard5 {
        position: relative;
        width: 100px; /* Set maximum width */
        height: 100px; /* Adjust height as needed */
        margin-bottom: 10%;
        background: lightblue;
        border-radius: 20px;
        box-shadow: 0 35px 80px rgba(0, 0, 0, 0.35);
        transition:  0.5s; 
            margin-left: 3%;
    }
    
    
    
    .cd5 {
        position: absolute;
        left: 50%;
        top: -30%;
        transform: translateX(-50%);
        width: 75px;
        height: 75px;
        background: white;
        border-radius: 20px;
        box-shadow: 0 35px 80px rgba(0, 0, 0, 0.35);
        overflow: hidden;
        transition: 0.5s;
    }
    
    .brgycard5:hover .cd5, .brgycard5.clicked .cd5 {
        
    }
    
    .cd5 img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    
    .brgycard5 .cnt5 {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-align: center; 
        overflow: hidden;
    }
    
    .brgycard5 .cnt5 .details5 {
        padding: 40px;
        text-align: center;
        width: 100%;
       
        transform: translateY(155px);
    }
    
    
    .brgycard5 .cnt5 .details5 h2 {
        font-size: 1em;
        font-weight: 600;
        color: black;
        line-height: 1.2em;
    }
    
    .brgycard5 .cnt5 .details5 h2 span {
        font-size: 0.75em;
        font-weight: 500;
        opacity: 0.5;
    }
    
    .brgycard5 .cnt5 .details5 .datas {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }
    
    .brgycard5 .cnt5 .details5 .datas5 h3 {
        font-size: 1em;
        color: #555;
        line-height: 1.2em;
        font-weight: 300;
        opacity: 0.5;
        font-style: italic;
    }
    
    .brgycard5 .cnt5 .details5 .btn5 button {
        padding: 10px 30px;
        border-radius: 5px;
        border: none;
        outline: none;
        font-size: 1em;
        font-weight: bold;
        color: white;
        background-color: #1877F2;
        font-family: sans-serif, Klavika ;
    }
    
    @media (max-width: 768px) {
        .brgycard5 {
            flex: 0 0 calc(50% - 20px);
            margin-bottom: 20%; /* Adjust width for smaller screens */
        }
    }
    
    @media (max-width: 480px) {
        .brgycard5 {
            flex: 0 0 calc(100% - 20px); 
            margin-bottom: 20%;/* Adjust width for even smaller screens */
        }
    }
    
    
    .taas{
    margin-top: 400%;
    }
    
    
    .taas2{
        margin-top: 250%;
        padding-bottom: 860%;
        }
        
    
    
        .brgycardsk .cntsk .detailssk {
            padding: 40px;
            text-align: center;
            width: 100%;
            transition: 0.5s;
            transform: translateY(300px);
        }
    
        .offcont5 {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            justify-content: space-between;
            margin: 0 auto;
            max-height: 50vh;
            max-width: 50vh; /* Adjust maximum width as needed */
         
           
        }
    
        .taas3{
           padding-top: 10%;
        }
    
    
    .com{
        font-size: 4.5vh;
    }
    
    
              .sizengvid{
           
              width: 250%;
      
     
              }
    .sizengpic{
        width:30vh;
        height: auto;
    }
    
    .padsan{
        padding-bottom: 45%;
    }
    



    .brgycard .cnt .detailsk {
        padding: 40px;
        text-align: center;
        width: 100%;
        transition: 0.5s;
        transform: translateY(220px);
    }
    
    .brgycard:hover .cnt .detailsk, .brgycard.clicked .cnt .detailsk {
        transform: translateY(40px);
    }
    
    .brgycard .cnt .detailsk h2 {
        font-size: 1em;
        font-weight: 600;
        color: black;
        line-height: 1.2em;
    }
    
    .brgycard .cnt .detailsk h2 span {
        font-size: 0.75em;
        font-weight: 500;
        opacity: 0.5;
    }
    
    .brgycard .cnt .detailsk .datas {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }
    
    .brgycard .cnt .detailsk .datas h3 {
        font-size: 1em;
        color: #555;
        line-height: 1.2em;
        font-weight: 300;
        opacity: 0.5;
        font-style: italic;
    }
    
    .brgycard .cnt .detailsk .btn button {
        padding: 10px 30px;
        border-radius: 5px;
        border: none;
        outline: none;
        font-size: 1em;
        font-weight: bold;
        color: white;
        background-color: #1877F2;
        font-family: sans-serif, Klavika ;
    }
    

    }